.like,
.reject {
    height: 3em;
    font-size: 1.6em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  &:hover {
    cursor: pointer;
  }
  .copy {
    text-transform: capitalize;
  }
  @media #{$sm-down} {
    font-size: 0.9em;
    height: 1.6em;
  }
}

.like {
  & > span {
    color: $c-like;
  }
  &__icon {
    position: absolute;
    left: -1.1em;
  }
}

.reject {
  & > span {
    color: $c-important;
  }
  &__icon {
    position: absolute;
    right: -1.1em;
  }
}