.like,
.reject {
    padding: 1rem;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    font-size: 1.6em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s ease-in-out;
    &>span {
      color: $c-white;
    }
  &:hover {
    cursor: pointer;
  }
  @media #{$sm-down} {
    font-size: 1.2em;
    padding: 0.8rem;
    height: 2.2em;
    width: 2.2em;
  }
}

.like {
  background-color: $c-like;
  &:hover {
    background-color: darken($c-like, 10%);
  }
}

.reject {
  background-color: $c-important;
  &:hover {
    background-color: darken($c-important, 10%);
  }
}
