//colors
$c-white: #fff;
$c-text: #333;
$c-important: #ff3232;
$c-highlight: #1919ff;
$c-like: #329932;
$c-background: #fafafa;

//boldness
$thin: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

//fonts
$font-main: 'Raleway', sans-serif;
$font-headline: 'Roboto Mono', monospace;

//breakpoints
$md-down: '(max-width: 1200px)';
$sm-down: '(max-width: 768px)';
$xs-down: '(max-width: 520px)';
$sm-up: '(min-width: 768px)';

html,
body {
  font-size: 16px;
  background-color: $c-background;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden; 
  @media #{$md-down} {
    font-size: 15px;
  }
  @media #{$sm-down} {
    font-size: 13px;
  }
  @media #{$xs-down} {
    font-size: 11px;
  }
}


.movie {
  .red {
    background-color: red;
  }
}